.main {
  display: flex;
  flex-wrap: wrap;
  min-height: 68vh;
  margin: 10px 10px 15px 15px;
}
.image_366px{
  width: 366px;
  height: 366px;
}
.main_column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 68vh;
  margin: 10px 10px 15px 15px;
}
.content{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: auto;
}
.header {
  display: flex;
  max-height: 150px;
  justify-content: space-between;
  width: 100%;
}
.select {
  display: flex;
  gap: 5px;
  height: min-content;
}

.recently{
  display: flex;
  gap: 10px;
  margin-left: 10px;
}
.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
.footer{
  position: static;
  margin-top: auto;
  bottom: 0;
  margin: 10px;
}
.select select {
  margin-top: 3px;
  height: min-content;
  width: 100%;
}
.select p {
  height: min-content;
  width: 60%;
  margin: 0;
}
.movie_item {
  border: solid 1px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: calc(33.3% - 20px);
  padding: 10px;
}

.movie_wrap {
  display: flex;
  gap: 20px;
}

.flex {
  display: flex;
  gap: 5px;
}

.movie_image {
  min-width: 40%;
}
